@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fffefc;
  color: #58687c;
}

h4 {
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 140%;
}

h3 {
  margin: 8px 0 0 0;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}
.fc-primary {
  color: #2d3e50;
}
.fc-secondary {
  color: #11c5c6;
}
.fc-s-light {
  color: #65f8f9;
}
.body1 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
}

.body2 {
  margin: 16px 0 0 0;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
}
.btn-link {
  padding: 4px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #11c5c6;
}
.caption {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 140%;
}
.container {
  width: 92%;
  max-width: 1246px;
  margin: 0 auto;
}
.wrapper {
  display: grid;
}
.d-flex {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 auto;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.reverse {
  flex-direction: row-reverse;
}
.reverse [class*="col-"] {
  margin-left: 0%;
  margin-right: 4%;
}
[class*="col-"] {
  margin-left: 4%;
  margin-right: 0%;
}
.col-1-4 {
  flex: 0 0 20%;
}
.col-2-4 {
  flex: 0 0 44%;
}
.col-3-4 {
  flex: 0 0 68%;
}
.col-4-4 {
  flex: 0 0 92%;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-05 {
  margin-top: 0.5rem;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* Navbar */
header {
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  grid-row: 1/2;
  grid-column: 1/2;
  border-bottom: 1px solid #eaeaea;
  filter: drop-shadow(4px 8px 24px rgba(45, 62, 80, 0.02));
  background-color: #fffefc;
}
.navbar-brand a {
  text-decoration: none;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 140%;
}
.navbar-nav {
  list-style-type: none;
  padding: 0;
}
.navbar-nav .nav-item {
  padding: 8px 12px;
}
.nav-link {
  text-decoration: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 160%;
  cursor: pointer;
}

.toggle-menu input {
  display: none;
}
/* End Navbar */

/* Aside & Main  */
.website-content {
  grid-row: 2/3;
  grid-column: 1/2;
  margin-top: 60px;
}
.profil-img {
  width: 100%;
  height: auto;
}
.aside-body {
  margin-top: 32px;
}
.aside-body h3 {
  margin: 0;
}
.aside-body p {
  margin: 8px 0 0 0;
}
.aside-footer {
  margin-top: 32px;
}
.aside-footer p {
  margin: 0;
}
.aside-link {
  margin-top: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-decoration-line: underline;
  color: #58687c;
}
/* End Aside */

/* Main */
.card {
  padding: 36px;
  background: #ffffff;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  border-radius: 8px;
}
.action {
  margin-top: 16px;
}
.deco-none {
  text-decoration: none;
}
/* End Main */
footer {
  margin-top: 60px;
  grid-row: 3/4;
  grid-column: 1/2;
  background-color: #fffefc;
  border-top: 1px solid #eaeaea;
  padding: 32px 0;
}
footer p {
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  [class*="col-"] {
    flex: 0 0 92%;
    margin: 0 4%;
  }
  .col-1-2 {
    flex: 0 0 44%;
  }
  /* Navbar */
  nav {
    padding: 12px 0;
  }
  /* Hamburger */
  .toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 24px;
    width: 24px;
    position: relative;
  }
  .toggle-menu input {
    display: block;
    left: -4px;
    position: absolute;
    height: 24px;
    width: 24px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
  }
  .toggle-menu span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: #2d3e50;
    border-radius: 2px;
    transition: all 0.2s;
  }
  .toggle-menu span:nth-child(even) {
    transform-origin: 0 0;
  }
  .toggle-menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(3px, -1px);
  }
  .toggle-menu input:checked ~ span:nth-child(3) {
    display: none;
  }
  .toggle-menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 4px);
  }
  nav .navbar-nav {
    display: none;
    top: 250%;
    left: 0;
    height: 50vh;
    width: 92%;
    position: fixed;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 4px 8px 24px rgba(0, 0, 0, 0.16);
  }
  .show-nav {
    display: flex !important;
  }
  /* header {
    padding: 16px 0;
  }
  .navbar-nav {
    margin-top: 16px;
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
  .navbar-nav .nav-item {
    padding: 4px 0 4px 0;
  } */
  /* End Navbar */

  /* Aside */
  .profil-img {
    width: 50%;
  }
  /* End Aside */

  /* Main */
  #about {
    margin-top: 2rem;
  }
}

.profil-box{
  overflow: hidden;
}

.profil-box img{
  width: 100%;
  /*transform: scale(1.1);*/
}